<div th:fragment="navbar" class="header clearfix">
	<nav>
		<ul class="nav nav-pills float-right">
		
			<li class="nav-item">
				<a class="nav-link" th:classappend="${page} == home ? active" href="/home">Saját adatok</a>
			</li>
			<li th:if="${not session.roles.?[name == 'ROLE_ADMIN'].isEmpty()}" class="nav-item">
				<a class="nav-link" th:classappend="${page} == admin ? active" href="/admin">Admin</a>
			</li>
			<li th:if="${not session.roles.?[name == 'ROLE_ADMIN' || name == 'ROLE_EDITOR'].isEmpty()}" class="nav-item">
				<a class="nav-link" th:classappend="${page} == editor ? active" href="/editor">Tartalomszerkesztő</a>
			</li>
			<li th:if="${not session.roles.?[name == 'ROLE_ADMIN' || name == 'ROLE_USER'].isEmpty()}" class="nav-item">
				<a class="nav-link" th:classappend="${page} == user ? active" href="/user">Felhasználó</a></li>
			<li class="nav-item">
				<a class="nav-link" href="/logout">Kijelentkezés</a>
			</li>
		</ul>
	</nav>
	<h3 class="text-muted">Tesztfeladat</h3>
</div>
