<main th:fragment="home">

<div class="jumbotron">
	<h2 class="display-3">Kedves <span th:text="${session.username}"></span>,</h2>
	<p class="lead">Üdvözlünk az adminisztrációs felületen.</p>
	<p class="lead">Az alábbi szerepkörökkel, jogosultságokkal rendelkezel a felületen:
		<span th:each="role, iterStat : ${session.roles}" th:text="!${iterStat.last} ? ${role.nickname + ', '} : ${role.nickname}"></span>
		</p>
	<p class="lead">Utolsó belépésed időpontja:
		<span th:if="${session.last_login_date != null}" th:text="${session.last_login_date}"></span>
		<span th:unless="${session.last_login_date != null}">Ez az első belépés</span>
	</p>
</div>

</main>